.accordion-button {
    color: #000 !important;
    background-color: #fff !important;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #000 !important;
    box-shadow: none !important;
}
